.ui.inverted.items > .item > .content > .header {
  color: #FFFFFF;
}
.ui.inverted.items > .item > .content > .description {
  color: #FFFFFF;
}
.ui.inverted.items > .item .meta {
  color: #FFFFFF;
}
.ui.items > .item .extra {
  color: #FFFFFF;
}
.ui.divided.inverted.items > .item {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-color: rgba(255, 255, 255, 0.1);
  margin: 0em;
  padding: 1em 0em;
}
.ui.divided.inverted.items > .item:first-child {
  border-top: none;
  margin-top: 0em !important;
  padding-top: 0em !important;
}
.ui.divided.inverted.items > .item:last-child {
  margin-bottom: 0em !important;
  padding-bottom: 0em !important;
}
