@invertedColor: @white;

@dividedInvertedBorderColor: @whiteBorderColor;

@dividedInvertedBorder: 1px solid @borderColor;
@dividedInvertedMargin: 0em;
@dividedInvertedPadding: 1em 0em;

@dividedInvertedFirstLastMargin: 0em;
@dividedInvertedFirstLastPadding: 0em;