.ui.inverted.items > .item > .content > .header {
  color: @invertedColor;
}

.ui.inverted.items > .item > .content > .description {
  color: @invertedColor;
}

.ui.inverted.items > .item .meta {
  color: @invertedColor;
}

.ui.items > .item .extra {
  color: @invertedColor;
}



.ui.divided.inverted.items > .item {
  border-top: @dividedInvertedBorder;
  border-color: @dividedInvertedBorderColor;
  margin: @dividedInvertedMargin;
  padding: @dividedInvertedPadding;
}
.ui.divided.inverted.items > .item:first-child {
  border-top: none;
  margin-top: @dividedInvertedFirstLastMargin !important;
  padding-top: @dividedInvertedFirstLastPadding !important;
}
.ui.divided.inverted.items > .item:last-child {
  margin-bottom: @dividedInvertedFirstLastMargin !important;
  padding-bottom: @dividedInvertedFirstLastPadding !important;
}